################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GloboTicket.Integration.MessagingBus/GloboTicket.Integration.MessagingBus.csproj.user
**/bin/Debug/
**/bin/Release/